*{
  margin:0;
  padding:0;
 
}
body{
  font-family:Arial, sans-serif;
  background:#f4f4f6;
  color:#222;
}

.detail-btn {
    background:#8a00ff;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    text-decoration:none;
    display:inline-block;
}

.lesson-title-only {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container{
  padding:30px;
}
.hero{
  display:flex;
  justify-content:space-between;
  gap:30px;
  background:linear-gradient(90deg,#2850ff,#9b00ff);
  color:#fff;
  padding:30px;
  border-radius:14px;
}
.hero-left{
  max-width:65%;
}
.tag{
  display:inline-block;
  background:#ffffff22;
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  margin-bottom:14px;
}
.hero h1{
  font-size:38px; 
  margin-bottom:12px;
}
.hero p{
  margin-bottom:15px; 
  color:#f1f1f1;
}
.price-card{
  background:#fff;
  color:#111;
  padding:25px;
  border-radius:12px;
  min-width:280px;
}
.price-card h2{
  font-size:34px; color:#2850ff; margin-bottom:15px;
}
.price-card button{
  width:100%;
  padding:14px;
  background:#8a00ff;
  color:#fff;
  border:none;
  border-radius:8px;
  font-size:18px;
  cursor:pointer;
  margin-bottom:15px;
}
.price-card ul{
  padding-left:18px; color:#555;
}
.card{
  background:#fff;
  margin-top:25px;
  padding:25px;
  border-radius:12px;
}
.card h3{
  margin-bottom:18px;
}
.learn-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}
.lesson{
  padding:16px;
  border:1px solid #e3e3e3;
  border-radius:10px;
  margin-bottom:12px;
  display:flex;
  justify-content:space-between;
}
.lesson span{
  color:#777; 
  font-size:14px;
}
.footer{
  margin-top:40px;
  background:#07142e;
  color:#fff;
  padding:35px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}
.footer h4{margin-bottom:10px;}
.footer p{
  color:#b8c0d0; 
  line-height:1.8;
}
@media(max-width:900px){
  .hero{flex-direction:column;}
  .hero-left{max-width:100%;}
  .learn-grid,.footer{grid-template-columns:1fr;}
  
}

